<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    {{ script | safe }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Stock Ticker application to display closing price of a user-defined stock over a user-defined date range."/>
  </head>
<title>Adam Dolan's Stock App</title>
  <body>
        <div class="col-lg-12 text-left">
          <h2>Adam Dolan's Stock Ticker Milestone Project App</h2>
          <h>Symbol (e.g. GOOG, MSFT, AAPL)</h><br />
          <form method="POST">
            <input name="symbol">
          </form>
            <br /><br />
          <h>Note: Valid date ranges from 1996-01-01 to 2018-04-11</h><br />
          <h>Also make sure your desired company symbol existed during the date ranges you request!</h>
        </div>
    <div class=page>
      {{ div | safe }}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>